.demo-header {

  $background: #412824;

  background-color: $background;
  background-image: url('/demo/images/background-light.jpg');
  background-size: cover;
  padding: 20px 0;
  box-shadow: 0 0 20px rgba(0,0,0,.75);
  position: relative;
  z-index: 100;

}

.demo-container {

  width: 500px;
  padding-top: 60px;
  min-height: 500px;
  margin: 0 auto;

}

.demo-actions {

  text-align: center;

}
