/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  height: 100%; }

body {
  background-color: #412824;
  background-image: url("/demo/images/background.jpg");
  background-size: cover;
  font-size: 18px;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center; }

h1 {
  color: #fff;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0; }

h2 {
  color: #fff;
  font-size: 2em; }

h3 {
  color: #fff;
  font-size: 1.6em; }

h4 {
  color: #fff;
  font-size: 1.4em; }

h5 {
  color: #fff;
  font-size: 1.2em; }

h6 {
  color: #fff;
  font-size: 1em; }

.demo-header {
  background-color: #412824;
  background-image: url("/demo/images/background-light.jpg");
  background-size: cover;
  padding: 20px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 100; }

.demo-container {
  width: 500px;
  padding-top: 60px;
  min-height: 500px;
  margin: 0 auto; }

.demo-actions {
  text-align: center; }

#cardtricks-1 {
  height: 475px; }
  #cardtricks-1 .cardtricks-cards__card {
    width: 250px;
    height: 475px; }
    #cardtricks-1 .cardtricks-cards__card img {
      width: 100%; }

.cardtricks-cards.cardtricks-cards--style-1 {
  height: 400px; }
  .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card {
    width: 250px;
    height: 400px;
    background: #91bfb0;
    border: 4px solid #b1d2c7;
    border-radius: 8px; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(1) {
      background: #a1c8bc; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(2) {
      background: #b1d2c7; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(3) {
      background: #c1dbd3; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(4) {
      background: #d1e5de; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(5) {
      background: #e2eeea; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(6) {
      background: #f2f7f5; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(7) {
      background: white; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(8) {
      background: white; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(9) {
      background: white; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(10) {
      background: white; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(11) {
      background: white; }
    .cardtricks-cards.cardtricks-cards--style-1 .cardtricks-cards__card:nth-child(12) {
      background: white; }

.demo-button {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: .25em;
  padding: .8em 1.6em;
  border-radius: 50px;
  border: 0;
  cursor: pointer; }
  .demo-button:hover {
    background: rgba(0, 0, 0, 0.85); }
  .demo-button.demo-button--secondary {
    color: #333;
    background: rgba(255, 255, 255, 0.75); }
    .demo-button.demo-button--secondary:hover {
      background: rgba(255, 255, 255, 0.85); }
